<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    {{ $style := resources.Get "css/games.scss" | toCSS | minify }}
    <link href="{{ $style.RelPermalink }}" rel="stylesheet">

    <meta name="description" content="{{ .Description }}">

    {{ $image := resources.Get "img/favicon.png" }}
    {{ $image := $image.Process "resize 16x" }}
    <link rel="icon" type="{{ $image.MediaType.Type }}" href="{{ $image.RelPermalink }}">

    {{ $thumb := resources.Get .Params.Thumb }}
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:image" content="{{ $thumb.Permalink }}">
    <meta property="og:image:type" content="{{ $thumb.MediaType.Type }}" />
    <meta property="og:image:width" content="{{ $thumb.Width }}" />
    <meta property="og:image:height" content="{{ $thumb.Height }}" />
    <meta property="og:image:alt" content="Logo of {{ .Title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ .Permalink }}">
</head>

<body>
    <nav id="navbar">
        <ul class="nav-links">
            <li><a href="{{ .Site.BaseURL | relURL }}#about-us">About us</a>
            <li><a href="{{ .Site.BaseURL | relURL }}#our-games">Our Games</a>
            <li><a href="{{ .Site.BaseURL | relURL }}#contact">Contact</a>
        </ul>
    </nav>

    <main>
        <article>
            <div id="col-thumb-download">
                {{ $image := resources.Get .Params.Thumb }}
                {{ $jpg := $image.Process "resize 280x jpg" }}
                {{ $webp := $image.Process "resize 280x webp" }}
                {{ $jpg420 := $image.Process "resize 420x jpg" }}
                {{ $webp420 := $image.Process "resize 420x webp" }}

                <picture>
                    <source type="{{ $webp.MediaType.Type }}" srcset="{{ $webp.RelPermalink }}, {{ $webp420.RelPermalink }} 1.5x">
                    <source type="{{ $jpg.MediaType.Type }}" srcset="{{ $jpg.RelPermalink }}, {{ $jpg420.RelPermalink }} 1.5x">
                    <img src="{{ $jpg.RelPermalink }}" height="{{ $jpg.Height }}" width="{{ $jpg.Width }}" alt="{{ .Title }}" class="rounded">
                </picture>

                <ul class="sns-icons">
                    {{ if .Params.itchio }}
                    {{ $image := resources.Get "img/icons/itchio.png" }}
                    {{ $alt := print "Itch page of " .Title }}
                    <li>
                        <a href="{{ .Params.itchio }}">
                            {{ partial "sns-icon.html" (dict "src" $image "alt" $alt) }}
                        </a>
                    </li>
                    {{ end }}

                    {{ if .Params.stream }}
                    {{ $image := resources.Get "img/icons/steam.png" }}
                    {{ $alt := print "Steam page of " .Title }}
                    <li>
                        <a href="{{ .Params.stream }}">
                            {{ partial "sns-icon.html" (dict "src" $image "alt" $alt) }}
                        </a>
                    </li>
                    {{ end }}
                </ul>

                <a class="btn" href="#">Download press kit</a>
            </div>

            <div id="col-description">
                <h2>{{ .Title }}</h2>
                {{ .Content }}

                <div class="screenshots">
                    {{ range $screenshot := .Resources.ByType "image" }}
                    {{ $jpg := $screenshot.Process "resize 230x jpg" }}
                    {{ $webp := $screenshot.Process "resize 230x webp" }}
                    {{ $jpg345 := $screenshot.Process "resize 345x jpg" }}
                    {{ $webp345 := $screenshot.Process "resize 345x webp" }}

                    <a href="{{ $screenshot.RelPermalink }}">
                        <picture>
                            <source type="{{ $webp.MediaType.Type }}" srcset="{{ $webp.RelPermalink }}, {{ $webp345.RelPermalink }} 1.5x">
                            <source type="{{ $jpg.MediaType.Type }}" srcset="{{ $jpg.RelPermalink }}, {{ $jpg345.RelPermalink }} 1.5x">
                            <img src="{{ $jpg.RelPermalink }}" alt="Screenshot of {{ .Title }}" height="{{ $jpg.Height }}" width="{{ $jpg.Width }}" class="rounded">
                        </picture>
                    </a>
                    {{ end }}
                </div>
            </div>
        </article>
    </main>

    {{ partial "footer.html" }}
</body>

</html>