// Colors
$color: #414141;
$bgcolor-1: #ffffff;
$bgcolor-2: #ebe5da;

// 17.5px -> minimum body text font size for #414141 on #ebe5da
$default-font-size: 18 / 16 * 1em;
$default-font-size-xs: 1em;

$navbar-bgcolor: #cbd29a;
$navbar-bgcolor-active: #ecdfb7;

$breakpoint: 615px;

$scrollbar-width: 15px;