<h3 class="member-name">{{ .name }}</h3>

{{ $image := resources.Get .avatar }}
{{ $jpg := $image.Fill "180x180 jpg" }}
{{ $webp := $image.Fill "180x180 webp" }}
{{ $jpg270 := $image.Fill "270x270 jpg" }}
{{ $webp270 := $image.Fill "270x270 webp" }}

<picture>
    <source type="{{ $webp.MediaType.Type }}" srcset="{{ $webp.RelPermalink }}, {{ $webp270.RelPermalink }} 1.5x">
    <source type="{{ $jpg.MediaType.Type }}" srcset="{{ $jpg.RelPermalink }}, {{ $jpg270.RelPermalink }} 1.5x">
    <img class="member-avatar" src="{{ $jpg.RelPermalink }}" width="{{ $jpg.Width }}" height="{{ $jpg.Height }}" alt="Avatar of {{ .name }}">
</picture>

<p class="member-description">{{ .description }}</p>

<ul class="sns-icons member-sns">

    {{ if .instagram }}
    {{ $image := resources.Get "img/icons/instagram.png" }}
    {{ $alt := print "Instagram account of " .name }}
    <li>
        <a href="https://www.instagram.com/{{ .instagram }}/">
            {{ partial "sns-icon.html" (dict "src" $image "alt" $alt) }}
        </a>
    </li>
    {{ end }}

    {{ if .x }}
    {{ $image := resources.Get "img/icons/x.png" }}
    {{ $alt := print "Twitter account of " .name }}
    <li>
        <a href="https://twitter.com/{{ .x }}/">
            {{ partial "sns-icon.html" (dict "src" $image "alt" $alt) }}
        </a>
    </li>
    {{ end }}

</ul>